
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' type='text/css' href='/templates/style/reset.css'	media='screen' />
<link rel='stylesheet' type='text/css' href='templates/style/default.css' 	media='screen' />
<link rel="stylesheet" type="text/css" href="../careers.css" media="screen" />
<link rel='stylesheet' type='text/css' href='templates/style/typography.css' 	media='screen' />

<title>GEMS</title>
</head>


<body>
<!-- start of header -->
<div id="header">
	<div class="headercontent">
	<h1>Intranet</h1>
		<a href="http://www.nottingham.ac.uk/" title="University of Nottingham" ><img  height="39" width="130" alt="University of Nottingham" 	src="templates/img/header/mastheadlogo.png" /></a>
	</div>
</div>
	<!--//END header -->

	<!-- start horizontal blue bar  -->

	<div id="subheading">
		<h2>Centre for Career Development </h2>
	</div>
	
	
	
	<div id="contentmain">
	
	<div id="secondarybranding">
	<h3>Graduate Destinations 08/09</h3>
	
	</div>
	<!-- start of content  -->
	<div id="content">