<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style/login.css" rel="Stylesheet" type="text/css" media="screen" />
<!--[if IE]>
<link href="style/ie-login.css" rel="Stylesheet" type="text/css" media="screen" />
<![endif]-->
<title>Graduate Employment Market Statistics (GEMS)</title>
</head>
<body>

<!-- start amended uon logon form -->
<form action="" method="post"  id="login">
<div id="branding">

<h2><a href="http://my.nottingham.ac.uk">Intranet</a></h2>

</div>
<h3>GEMS</h3>

<fieldset>
	
<label for="username">Username</label>
<input type="text" id="username" name="username" />
<label for="password">Password</label>
<input type="password" id="password" name="password" />



<input type="submit" value="login" class="btn" />


<input type="hidden" class="hidden" value="login" name="action" />
</fieldset>
</form>

</body>
</html>