<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' type='text/css' href='style/reset.css'	media='screen' />
<link rel='stylesheet' type='text/css' href='style/default.css' 	media='screen' />
<link rel="stylesheet" type="text/css" href="../careers.css" media="screen" />
<link rel='stylesheet' type='text/css' href='style/typography.css' 	media='screen' />

<title>[TITLE]</title>
</head>


<body>
<!-- start of header -->
<div id="header">
	<div class="headercontent">
	<h1>Intranet</h1>
		<a href="http://www.nottingham.ac.uk/" title="University of Nottingham" ><img  height="39" width="130" alt="University of Nottingham" 	src="img/header/mastheadlogo.png" /></a>
	</div>
</div>
	<!--//END header -->

	<!-- start horizontal blue bar  -->

	<div id="subheading">
		<h2>Centre for Career Development </h2>
	</div>
	
	
	
	<div id="contentmain">
	
	<div id="secondarybranding">
	<h3>Graduate Destinations 08/09</h3>
	
	</div>
	<!-- start of content  -->
	<div id="content">
	<!-- not guilty -->
	<div id="col1">
<div id="sectionb">
<p class="header">Section A - Standard Publication Categories</p>
<a class="one" href="employmentform.php">Employment Circumstances</a>
<br />
<br />
</div>
<br>
<div id="sectionc">
<p class="header">Section B - Employment Details</p>
<a class="one" href="jobtitleform.php">Job Titles</a>
<br>
<br>
<a class="one" href="graduatenessform.php">Graduate-level of Employment</a>
<br>
<br>
<a class="one" href="contractform.php">Contract Types</a>
<br>
<br>
<a class="one" href="salaryform.php">Salaries</a>
<br>
<br>
<a class="one" href="employernamesform.php">Employer Names</a>
<br>
<br>
<a class="one" href="industryform.php">Employer Industry</a>
<br>
<br>
<a class="one" href="locationsform.php">Employer Locations</a>
<br>
<br>
<a class="one" href="companysizeform.php">Employer Sizes</a>
<br>
<br>
<a class="one" href="qualrelform.php">Relevance of Qualification</a>
<br />
<br />
</div>

</div>
<div id="col2">
<div id="sectiond">
<p class="header">Section C - Further Study Details</p>
<a class="one" href="furtherstudyform.php">Type of Further Study</a>
<br>
<br>
<a class="one" href="subjectareaform.php">Vocation of Further Study</a>
<br>
<br>
<a class="one" href="institutionform.php">Names of Further Study Institutions</a>
<br>
<br>
<a class="one" href="fundingform.php">Funding of Further Study</a>
<br />

<br />
</div>
<br />

<div id="sectione">
<p class="header">Section D - Initial Teacher Training Graduates' Details</p>
<a class="one" href="ttc.php">How Many TTC graduates are working in teaching</a>
<br>
<br>
<a class="one" href="teachingtype.php">What type of schools are TTC graduates teaching in</a>
<br />
<br />
</div>
<br>
<div id="sectionf">
<p class="header">Section E - Part-Time Graduates' Details</p>
<a class="one" href="motivationform.php">The motivation of part-time students</a>
<br />
<br />
</div>
<div id="whatis"><a class="one" href="whatis.php"><br /><b>What is the Destinations of Leavers Survey?</b></a>

</div>
	<!--  end of not guilty -->
	</div>

</div>
<div id="appfooter">

<p>The Centre for Career Development, University of Nottingham, Portland Building, Level D West, University Park, Nottingham, NG7 2RD
<br />Tel: +44 (0) 115 846 7372 Fax: +44 (0) 115 951 3679
<br />For registration or data enquiries please contact Caroline Teece at the Centre for Career Development by email:
caroline.teece@nottingham.ac.uk or on Ext: 67372 </p>
</div>

</div>

<div id="footer">
	
	<ul>
        <li><a title="Copyright"  href="http://www.nottingham.ac.uk/utilities/copyright.aspx">Copyright</a></li>
        <li><a title="Terms and Conditions"  href="http://www.nottingham.ac.uk/utilities/terms.aspx">Terms &amp; Conditions</a></li>
        <li><a title="Privacy" href="http://www.nottingham.ac.uk/utilities/privacy.aspx">Privacy</a></li>
        <li><a title="Accessibility"  href="http://www.nottingham.ac.uk/utilities/accessibility/accessibility.aspx">Accessibility</a></li>
        <li><a title="Freedom of Information" href="http://www.nottingham.ac.uk/freedom-of-information/">Freedom of Information</a></li>
      	<li>Reporting provided by <img src="img/gems15.gif" /></li>
      </ul>
</div>
</body>
</html>